In [3]:
import pandas as pd

In [ ]:
# Parquet é um arquivo que facilita a leitura e reduz o armazenamento
df = pd.read_parquet("../data/0000.parquet")

In [5]:
df

,output,text,input,instruction
0,```python\ntasks = []\nwhile True:\n task =...,Help me set up my daily to-do list! Setting up...,Setting up your daily to-do list...,Help me set up my daily to-do list!
1,```python\nshopping_list = {}\nwhile True:\n ...,Create a shopping list based on my inputs! Cre...,Creating a shopping list...,Create a shopping list based on my inputs!
2,"```python\ntotal_time = 0\nfor i in range(1, 8...",Calculate how much time I spend on my phone pe...,Calculating weekly phone usage...,Calculate how much time I spend on my phone pe...
3,```python\ntotal_bill = float(input('Enter the...,Help me split the bill among my friends! Split...,Splitting the bill...,Help me split the bill among my friends!
4,```python\nmovie_list = {}\nwhile True:\n g...,Organize my movie list into genres! Organizing...,Organizing your movie list...,Organize my movie list into genres!
...,...,...,...,...
49621,c.execute('''CREATE TABLE IF NOT EXISTS stocks...,Execute code: c.execute('''CREATE TABLE IF NOT...,Creating a 'stocks' table...,Execute code: c.execute('''CREATE TABLE IF NOT...
49622,"c.execute(""INSERT INTO stocks VALUES ('2023-09...","Execute code: c.execute(""INSERT INTO stocks VA...",Inserting a record into the 'stocks' table...,"Execute code: c.execute(""INSERT INTO stocks VA..."
49623,c.execute('SELECT * FROM stocks WHERE symbol=?...,Execute code: c.execute('SELECT * FROM stocks ...,Querying the 'stocks' table for records with s...,Execute code: c.execute('SELECT * FROM stocks ...
49624,c.execute('UPDATE stocks SET qty=120 WHERE sym...,Execute code: c.execute('UPDATE stocks SET qty...,Updating the 'stocks' table to change quantity...,Execute code: c.execute('UPDATE stocks SET qty...
49625,```python\nimport requests\n\nurl = 'https://w...,Execute code: import requests\n\nurl = 'https:...,,Execute code: import requests\n\nurl = 'https:...